.inputWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 8px;


    & input {
        border: 1px solid var(--darker-border-color);
        padding: 10px;
        width: 100%;
        height: 42px;
        border-radius: 6px;
    }

    & div {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}