.textareaWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;

    & textarea {
        resize: none;
        width: 100%;
        border: 1px solid var(--darker-border-color);
        height: 135px;
        border-radius: 10px;
        font-family: 'Noto Sans Georgian', sans-serif;
        padding: 10px;
        font-weight: 500;
    }

    & label {
        font-weight: 500;
        color: #021526;
        font-size: 14px;
    }

    & div {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}