.filterWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & h3 {
        font-size: 16px;
        line-height: 19px;
        color: #021526;
        font-weight: 500;

    }
}

.filtersCreate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    & .create {
        display: flex;
        gap: 16px;
        align-items: center;
        height: 100%;

        & a {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px 16px 10px 16px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            height: 100%;

        }

        & a:nth-child(1) {
            background-color: var(--accent-color);
            color: white;

        }

        & a:nth-child(2) {
            color: var(--accent-color);
            outline: 1px solid var(--accent-color);

        }

    }
}

.dropdownSelectButton {
    padding: 8px 14px 8px 14px;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    position: relative;
    width: 77px;
    float: right;
}

.filterOptions {
    display: flex;
    gap: 5px;
    align-items: center;
    outline: 1px solid var(--border-color);
    width: fit-content;
    border-radius: 10px;

    & .filterOption {
        margin: 5px;
        border-radius: 6px;
    }

    & .filterOption:hover {
        background: #F3F3F3
    }
}

.selectedFilters {
    display: flex;
    gap: 10px;
    cursor: pointer;
    flex-wrap: wrap;

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 10px 6px 10px;
        border: 1px solid #DBDBDB;
        border-radius: 43px;
        gap: 5px;

        & img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    & p {
        font-size: 14px;
        color: #021526CC;
        font-weight: 400;

    }

    & button {
        font-weight: 600;
        margin-left: 5px;
    }

    & button:hover {
        color: var(--accent-color);
    }
}

@media only screen and (max-width: 1500px){
    .filtersCreate{
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .selectedFilters{
        align-items: center;
        justify-content: center;
    }
}