.homeListingWrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 12px 0 #02152614;
    border: 1px solid #DBDBDB;
    border-radius: 14px;


    & .homePicture{
        position: relative;
        height: 100%;
        & img {
            width: 100%;
            aspect-ratio: 16/9;
            height: 300px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            border-radius: 14px 14px 0 0 ;
            object-fit: cover;
        }


    }

    & .homeDetails{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 22px 25px 22px 25px;
        gap: 20px;
        border-radius: 0 0 14px 14px;
        border: 1px solid #DBDBDB;

        & .priceLocation{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
            & h3 {
                font-size: 28px;
                line-height: 34px;
                font-weight: 700;
                color: var(--heading-color);
            }

            & div{
                display: flex;
                align-items: center;
                gap: 10px;

                & p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #021526B2;

                }
            }
        }
        & .interiorInfo{
            display: flex;
            gap: 30px;
            align-items: center;
            & div {
                display: flex;
                gap: 5px;
                align-items: center;

                & p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #021526B2;
                }
            }
            & div:nth-child(2){
                & p{
                    margin-bottom: 4px;
                }
            }
        }
    }
}