.listingsPageWrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 1500px){
    .listingsPageWrapper{
        gap: 20px
    }
}