.deleteModalWrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
    width: 35%;
    border-radius: 20px;
    height: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    padding: 15px;

    & p {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    & .cancel{
        position: absolute;
        top: 30px;
        right: 30px;
    }

    & .buttons {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap:wrap;
        justify-content: center;
        & button {
            padding:10px 16px 10px 16px;
            border-radius: 10px;
            font-size: 16px;
        }

        & button:nth-child(1){
            color: var(--accent-color);
            border: 1px solid var(--accent-color);
            font-weight: 600;
        }
        & button:nth-child(2){
            color: white;
            border: 1px solid var(--accent-color);
            font-weight: 600;
            background:var(--accent-color);
        }
    }

    .deletedListing{
        color: var(--accent-color);
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
}

