.othersWrapper{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    & h3 {
        font-size: clamp(24px, 2vw, 32px);
        font-weight: 500;
    }

    & .list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
    }

    & .propertiesWrapper{
        display: flex;
        align-items: center;
        width: 100%;

        & button {
            position: absolute;
        }

        & .leftArrow{
            left: -80px;
        }

        & .rightArrow{
            right: -80px;
            rotate: 180deg;
        }

    }
}