.applicationWrapper {

    & header {
        width: 80%;

        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;;
    }

    & hr {
        background-color: var(--border-color);
        height: 1px;
        border: none;
        margin-bottom: 70px;
    }
}