@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

:root {
    --border-color: #DBDBDB;
    --accent-color: #F93B1D;
    --darker-border-color: #808A93;
    --heading-color: #021526;
    --form-valid: #45A849;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, button, label, input, option, select, span, sup, div {
    font-family: 'FiraGO', 'Noto Sans Georgian', sans-serif;
}

button {
    transition: all 300ms linear;
}

a {
    font-size: 14px;
    color: inherit;
}

button, a {
    outline: transparent;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

sup {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    position: relative;
    top: 1px;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

& h1 {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    color: var(--heading-color);
}

button:hover, a:hover {
    filter: brightness(90%);
}



input[type='radio'] {
    width: 17px;
    height: 17px;
    accent-color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #f83c1c;
    width: 100%;
}

.not-found > div:nth-child(1) {
    font-size: 2rem;
    text-align: center;
}

.not-found > div:nth-child(2) > a {
    text-decoration: underline;
    color: var(--heading-color);
}

.isRental, .isRentalListingPage{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    color: white;
    padding: 6px;
    background: #02152680;
    display: flex;
    align-items: center;
    justify-content: center;
}
.isRental {
    font-size: 12px;
    line-height: 14px;
    border-radius: 15px;
    width: 90px;
    height: 26px;
    text-align: center;
}

.isRentalListingPage{
    font-size: 20px;
    line-height: 24px;
    border-radius: 20px;
    width: 142px;
    height: 40px;
    text-align: center;
}


.outline {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(4px) brightness(70%);
    height: 100vh;
    z-index: 999;
}