@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

:root {
    --border-color: #DBDBDB;
    --accent-color: #F93B1D;
    --darker-border-color: #808A93;
    --heading-color: #021526;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button, label, input, option, select {
    font-family: 'Noto Sans Georgian', sans-serif;
}

button, a {
    outline: transparent;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms linear;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

& label, h5{
    font-size: 14px;
    line-height: 17px;
    color: var(--heading-color);
    font-weight: bold;
}

& h1 {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    color: var(--heading-color);
}

button:hover, a:hover {
    filter: brightness(95%);
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    accent-color: #45A849;
    border: 1px solid var(--border-color);
}

input[type='radio'] {
    width: 17px;
    height: 17px;
    accent-color: black;
}